/*------------ parallel scroll body ------------------------*/
body {
    background-image: url("bg1.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.a-text {
    text-align: center;
    background: rgb(220, 209, 205, 0.62);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    width: 700px;
}

.a-text p {
    line-height: 120%;
}

.a-text1 {
    text-align: center;
    background: rgb(220, 209, 205, 0.62);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.a-text1 p {
    line-height: 120%;
}

.a-img1 {
    height: 100px;
    background: rgb(220, 209, 205, 0.62);
    color: #fff;
    text-align: center;
    vertical-align:middle;

    background-image: url("bg1.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.a-img2 {
    height: 100vh;
    background: rgb(220, 209, 205, 0.62);
    color: #fff;
    text-align: center;
    vertical-align:middle;

    background-image: url("bg1.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.a-img3 {
    height: 100vh;
    background: rgb(220, 209, 205, 0.62);
    color: #fff;
    text-align: center;
    vertical-align:middle;

    background-image: url("bg1.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/*————————————————————————————————————————————————————————————————————————————div id="begin"————*/
#begin {
    background: rgb(220, 209, 205, 0.62);
    letter-spacing:2px;
    padding : 10px 10px 10px 10px;
    border-radius: 5px;
    border-bottom-style:solid;
    border-bottom-color:rgb(206,192,148);
	font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fdfdfd;
}
/*—————————————————————————————————————Pages—————————————————————————————*/
#menu li:hover{
    background-color: rgba(163, 121, 43, 0.61);
    color: white;
    cursor: pointer;
}
#menu li:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
}
.page {
    background-color: rgba(163, 121, 43, 0.61);;
    color: white;
}

/*—————————————————————————————————————Statut du compte—————————————————————*/
#user {
    border: rgb(206,192,148);
    border-style: dashed;
    border-radius: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: white;
}

/*——————————————————————————————————————————————————————————————————————————div id="accueil"————*/

/*—————————————————————————————————————Intro————————————————————————*/
h1 {
    font-family: comic sans ms;
    font-size: 22px;
    color: rgb(9, 65, 2);
}
h2 {
    font-family: comic sans ms;
    font-size: 22px;
    color: rgb(83, 71, 59);
    margin-bottom: -5px;
}

h3 {
    font-family: comic sans ms;
    font-size: 18px;
    color: rgb(83, 71, 59);
    margin-bottom: -5px;
}

a:link{
    color:#fff;
}

a:visited{
    color:#fff;
}

/*—————————————————————————————————————compte————————————————————————*/
#compte {
    border-radius: 5px;
    background-color: rgb(220, 209, 205, 0.62);
    width: 22%;
    padding-bottom: 20px;
    align-items: center;
}
#compte p {
    color:rgb(255, 255, 255);
}

#ins_form {
    border-radius: 5px;
    background-color: rgb(220, 209, 205, 0.62);
    width: 22%;
    padding-bottom: 20px;
    align-items: center;
    color: white;
}

#no_account p{
    color:rgb(255, 255, 255);
}
/*—————————————button type moyen——————————————————————*/
.moyen {
    font-size: 18px;
    background-color:rgba(163, 121, 43, 0.61);;
    border: none;
    color: white;
}
.moyen:hover{
    cursor: pointer;
}
.moyen:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
}
/*——————————————————————————————————————————————————————————————————————————div id="recherche"————*/

/*—————————————————————————————————————options————————————————————————*/
#options {
    /*   深蓝  background-color: rgb(115,187,173);  */
    /*   淡蓝  background-color: rgb(163,231,218);  */
    background-color: rgb(220, 209, 205, 0.62);
	font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.options {
    background-color: rgb(220, 209, 205, 0.62);
    color: white;
}
/*—————————————button type grand——————————————————————*/
button.grand {
    background: linear-gradient(to bottom, rgb(158, 187, 35) 5%,rgb(134, 165, 2) 100%);
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid rgba(82, 95, 3,0.5);
    color: #fbfbfb;
    font-weight: 300;
    font-family: comic sans ms;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
    padding-right: 30px;
    display: block;
    margin: 0 auto;
}
button.grand:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
}
button.grand:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 15px solid rgb(82, 95, 3);
    border-bottom: 15px solid rgb(82, 95, 3);
    border-left: 16px solid transparent;
    border-right: 20px solid rgb(82, 95, 3);
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
}

/*—————————————————————————————————————contenu————————————————————————*/
#resultat{
    color:white;
}
#resultat p{
    background-color: rgb(220, 209, 205, 0.62);
}
#consigne {
    font-size: 18px;
}

/*——————————————————————————————————————————————————————————————————————————div id="discussion"————*/
#discussion{
    color: white;
}